.menuButton {
	min-height: 106px;
	min-width: 109px;
	position: absolute;
	border-radius: 20px;
	cursor: pointer;
}

.menuButton:hover {
	z-index: 10000;
}

.ui-dialog {
	z-index: 10001 !important;
}

.ui-tooltip {
	border: 2px solid #000000 !important;
}

#einkaufen {
	top: 56px;
	left: 332px;
}

#entsorgung {
	top: 184px;
	left: 527px;
}

#abholung {
	top: 430px;
	left: 464px;
}

#verarbeitung {
	top: 433px;
	left: 213px;
}

#recycling {
	top: 193px;
	left: 143px;
}
