<div class="logo-container">
  <p>LOGO</p>
  <p>LOGO</p>
</div>
<div class="header-title">
  TITLE
</div>
<div class="header-controls">
	<span class='header-control-button fa-stack fa-2x'>
		<span class='fa fa-volume-up fa-stack-1x'></span>
		<span class='fa fa-ban fa-stack-2x'></span>
	</span>
	<span class='header-control-button fa-stack fa-2x'>
		<span class='fa fa-volume-off fa-stack-1x'></span>
		<span class='fa fa-ban fa-stack-2x'></span>
	</span>
</div>
