// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box
  height: inherit

body
  height: 600px

.header-container
  background-color: blue
  height: 64px
  width: 80%
  margin: auto

.outer-page-container
  background-color: green
  height: 100%
  width: 80%
  margin: auto
