@import 'nib'

.header-controls
  float: right
  width: 200px

.header-title
  float: left
  min-width: 500px
  margin: auto

.logo-container
  float: left
  width: 300px
  overflow: visible

.header-control-button
	transition: opacity 0.23s
	opacity : 0.5

.header-control-button:hover
	opacity : 1
