@import 'nib'

.header-controls
  color: white
  background-color: green
  float: right
  width: 200px

.header-title
  background-color: blue
  float: left
  min-width: 500px
  margin: auto

.logo-container
  background-color: yellow
  float: left
  width: 300px
  overflow: visible

.header-control-button
	transition: opacity 0.23s
	opacity : 0.5

.header-control-button:hover
	opacity : 1
